:root {
  --primary-color: white;
  --off-black: #000000;
}

header p{
    color: var(--primary-color);
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
  }

html {
  scroll-behavior: smooth;
}

html,
body {

  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  text-align: center;
  background-color: var(--off-black);
  color: var(--primary-color);
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid var(--primary-color);
}

label {
  margin-top: 1.5rem;
  display: block;
  font-size: larger;
}

button {
  padding: 0.6rem 0.75rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 0;
  color: var(--off-black);
  background-color: var(--primary-color);
  font-size: large;
}

#output,
#output-days-diff {
  padding: 1rem;
  display: none;
  background-color: var(--off-black);
  font-weight: bold;
  margin: 0;
}

#output {
  font-size: large;
}

.container {
  margin: auto;
  max-width: 600px;
}

#palindrome-definition {
    font-style: italic;
    font-size: medium;
    margin: 0;
    padding: 1rem;

}
iframe{
    display:none !important;
    }
p{
    font-size: x-large;
    font-weight: 300;
}